$darkBlue: hsl(233,26%,24%);
$limeGreen: #31d35c;
$brightCyan: #2bb7da;
$grayishBlue: hsl(233, 8%,62%);
$lightGrayishBlue: hsl(220, 16%,96%);
$veryLightGrey: #e8e8e8;
$white: hsl(0, 0%,100%);


//fonts sizes

$font-med: 1.125rem; //18px
$font-sm: 0.875rem; //14px